---
# Пример секретов. Реальный файл должен быть зашифрован или храниться в secret store.
openvpn_ca_cert: |
  -----BEGIN CERTIFICATE-----
  ...
  -----END CERTIFICATE-----

openvpn_server_cert: |
  -----BEGIN CERTIFICATE-----
  ...
  -----END CERTIFICATE-----

openvpn_server_key: |
  -----BEGIN PRIVATE KEY-----
  ...
  -----END PRIVATE KEY-----

openvpn_dh_params: |
  -----BEGIN DH PARAMETERS-----
  ...
  -----END DH PARAMETERS-----
