---
# Пример секретного файла. Этот файл должен быть зашифрован через ansible-vault.
openvpn_ca_cert: |
  -----BEGIN CERTIFICATE-----
  ...
  -----END CERTIFICATE-----

openvpn_server_cert: |
  -----BEGIN CERTIFICATE-----
  ...
  -----END CERTIFICATE-----

openvpn_server_key: |
  -----BEGIN PRIVATE KEY-----
  ...
  -----END PRIVATE KEY-----

openvpn_dh_params: |
  -----BEGIN DH PARAMETERS-----
  ...
  -----END DH PARAMETERS-----
